.footer{
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    padding: 0 10rem 0 10rem;
    /* margin-left: 10rem; */
    /* margin-right: 10rem; */
}
#footer-img{
    width: 1212px;
    height: 460px;
    gap: 0px;
    opacity: 30%;    
    position: absolute;
}
.footer-left{
    width: 255px;
    font-size: 24px;
    height: 320px;
}
.footer-left-img{
    width: 32px;
    height: 32px;
    margin-left: 2px;
}
.footer-2,.footer-3,.footer-4{
        margin-top: 6rem;
}
.span{
    color: #49B649;
    font-size: 28px;
    font-weight: 800;
}
.pp{
    font-size: 24px;
    font-weight: 400;
}
input{
    background-color: white;
    border-radius: 8px;
    width:250px;
    height: 30px;
    padding: 10px;
}
#span{
    color: white;
    font-size: 18px;
    background-color: #49B649;
    font-weight: 700;
    padding: 10px;
    border-radius: 8px;
    margin-left: -100px;
}
.end{
    display: flex;
    width: 401px;
    height: 27px;
    margin-top: 109px;
    margin-left: 556px;
    margin-bottom: 50px;
    gap: 0px;
    opacity: 0px;
    font-family: Nunito Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 27.28px;
    text-align: center;
    justify-content: center;
}